<!DOCTYPE html>
{%load static%}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Form </title>
    <link rel="stylesheet" href="{%static 'css/loginstyle.css'%}">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="post">
        {%csrf_token%}
        <div class="txt_field">
          <input type="text" name="first_name" id="id_first_name" required>
          <span></span>
          <label>FirstName</label>
        </div>
        <div class="txt_field">
            <input type="text" name="last_name" id="id_last_name" required>
            <span></span>
            <label>LastName</label>
          </div>
          <div class="txt_field">
            <input type="email" name="email" id="id_email" required>
            <span></span>
            <label>Email</label>
          </div>
          <div class="txt_field">
            <input type="text" name="username" id="id_user_name" required>
            <span></span>
            <label>UserName</label>
          </div>
        <div class="txt_field">
          <input type="password" name="password1" id="id_password1" required>
          <span></span>
          <label>Password1</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password2" id="id_password2" required>
            <span></span>
            <label>Confirm Password</label>
          </div>
        
        <input type="submit" value="Register">
        <div class="signup_link">
          already have an account? <a href="{%url 'signin'%}">Signup</a>
        </div>
      </form>
    </div>

  </body>
</html>